In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('ward-atlas-data.csv')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Population and Age; Population Estimates and Projections; 2001,Population and Age; Population Estimates and Projections; 2006,Population and Age; Population Estimates and Projections; 2011,Population and Age; Population Estimates and Projections; 2013,Population and Age; Population Estimates and Projections; 2014,Population and Age; Population Estimates and Projections; 2015,...,Nat Insurance No. registrations to adult overseas nationals; NINo Registrations; 2007/2008,Nat Insurance No. registrations to adult overseas nationals; NINo Registrations; 2008/2009,Nat Insurance No. registrations to adult overseas nationals; NINo Registrations; 2009/2010,Nat Insurance No. registrations to adult overseas nationals; NINo Registrations; 2010/2011,Nat Insurance No. registrations to adult overseas nationals; NINo Registrations; 2011/2012,Election turnout; Turnout Borough election; 2006,Election turnout; Turnout Borough election; 2010,Election turnout; Turnout Borough election; 2014,Election turnout; Turnout Mayoral election; 2008,Election turnout; Turnout Mayoral election; 2012
0,Codes,New Code,Borough,Names,2001,2006,2011,2013,2014,2015,...,2007/2008,2008/2009,2009/2010,2010/2011,2011/2012,2006.0,2010.0,2014.00,2008.0,2012.000000
1,00AA,E09000001,City of London,City of London,7350,7254,7400,7993,8043,8102,...,800,730,580,780,805,NaN,NaN,NaN,47.6,48.500000
2,00ABFX,E05000026,Barking and Dagenham,Abbey,10350,10239,12900,13806,14283,14739,...,845,855,1050,1370,1000,29.9,58.1,36.82,35.6,25.688941
3,00ABFY,E05000027,Barking and Dagenham,Alibon,9350,9236,10450,10527,10563,10587,...,160,215,190,260,190,41.1,59.2,34.27,34.4,20.347925
4,00ABFZ,E05000028,Barking and Dagenham,Becontree,11550,11238,11650,12155,12428,12688,...,265,295,350,400,320,32.4,60.2,36.84,33.4,22.538211

In [4]:
# Replace the first four column headers
data.columns = data.iloc[0][:4].tolist() + data.columns[4:].tolist()

# Delete the first line
data = data.drop(data.index[0])

# Reset Index
data.reset_index(drop=True, inplace=True)

# Save the modified DataFrame back to a CSV file
data.to_csv('data.csv', index=False)

In [5]:
data1 = pd.read_csv('data.csv')

In [6]:
data1.head()

,Codes,New Code,Borough,Names,Population and Age; Population Estimates and Projections; 2001,Population and Age; Population Estimates and Projections; 2006,Population and Age; Population Estimates and Projections; 2011,Population and Age; Population Estimates and Projections; 2013,Population and Age; Population Estimates and Projections; 2014,Population and Age; Population Estimates and Projections; 2015,...,Nat Insurance No. registrations to adult overseas nationals; NINo Registrations; 2007/2008,Nat Insurance No. registrations to adult overseas nationals; NINo Registrations; 2008/2009,Nat Insurance No. registrations to adult overseas nationals; NINo Registrations; 2009/2010,Nat Insurance No. registrations to adult overseas nationals; NINo Registrations; 2010/2011,Nat Insurance No. registrations to adult overseas nationals; NINo Registrations; 2011/2012,Election turnout; Turnout Borough election; 2006,Election turnout; Turnout Borough election; 2010,Election turnout; Turnout Borough election; 2014,Election turnout; Turnout Mayoral election; 2008,Election turnout; Turnout Mayoral election; 2012
0,00AA,E09000001,City of London,City of London,7350,7254,7400,7993,8043,8102,...,800,730,580,780,805,NaN,NaN,NaN,47.6,48.500000
1,00ABFX,E05000026,Barking and Dagenham,Abbey,10350,10239,12900,13806,14283,14739,...,845,855,1050,1370,1000,29.9,58.1,36.82,35.6,25.688941
2,00ABFY,E05000027,Barking and Dagenham,Alibon,9350,9236,10450,10527,10563,10587,...,160,215,190,260,190,41.1,59.2,34.27,34.4,20.347925
3,00ABFZ,E05000028,Barking and Dagenham,Becontree,11550,11238,11650,12155,12428,12688,...,265,295,350,400,320,32.4,60.2,36.84,33.4,22.538211
4,00ABGA,E05000029,Barking and Dagenham,Chadwell Heath,9400,9387,10100,10261,10337,10400,...,130,145,135,160,155,36.2,61.4,36.50,36.6,25.318814

In [7]:
selected_columns = [
    'Names',
    'New Code',
    'GCSE; Average GCSE capped point scores; 2014',
    'Area and Density; Population density (persons per sq km); 2011 (Census)',
    'Diversity; Household Language - 2011 Census; At least 1 person in household has English as a main language',
    'Household composition; Household composition - 2011 Census; Lone parent household',
    'House Prices; Median House Price; 2014',
    'Household Income; Mean Modelled Household income (?); 2012/13',
    'Qualifications; Qualifications and Students - 2011 Census; % Highest level of qualification: Level 4 qualifications and above',
    'Out-of-Work Families; Rates children (0-18) living in Out-of-work Benefit Claimant Households; 2014',
    'Pupil Absence; Unauthorised Absence in All Schools (%); 2013',
    'Crime; Total crime rate; 2013/14',
    'Health and Disability; General Health - 2011 Census; % People with Bad or Very Bad Health',
    'Happiness and Well-being; Subjective well-being average score, 2011/12 and 2012/13; ',
    'Access to green space and nature; % area that is greenspace; 2014',
    'Public Transport Accessibility; Average PTAL score; 2014',
    'Car access; Cars per household - Census 2011; ',
    'Indices of Deprivation; Average Score; 2010'
]
new_data = data1[selected_columns]

new_column_names = {
    'Names': 'Name',
    'New Code':'New Code',
    'GCSE; Average GCSE capped point scores; 2014': 'GCSE_Score',
    'Area and Density; Population density (persons per sq km); 2011 (Census)': 'Density',
    'Diversity; Household Language - 2011 Census; At least 1 person in household has English as a main language': 'Eng_HH',
    'Household composition; Household composition - 2011 Census; Lone parent household': 'Lone_Parent',
    'House Prices; Median House Price; 2014': 'House_Price',
    'Household Income; Mean Modelled Household income (?); 2012/13': 'Income',
    'Qualifications; Qualifications and Students - 2011 Census; % Highest level of qualification: Level 4 qualifications and above': 'Qual_Level4',
    'Out-of-Work Families; Rates children (0-18) living in Out-of-work Benefit Claimant Households; 2014': 'Out_Work_Fam',
    'Pupil Absence; Unauthorised Absence in All Schools (%); 2013': 'Absence',
    'Crime; Total crime rate; 2013/14': 'Crime',
    'Health and Disability; General Health - 2011 Census; % People with Bad or Very Bad Health': 'Bad_Health',
    'Happiness and Well-being; Subjective well-being average score, 2011/12 and 2012/13; ': 'Happiness',
    'Access to green space and nature; % area that is greenspace; 2014': 'Green_Space',
    'Public Transport Accessibility; Average PTAL score; 2014': 'PTAL',
     'Car access; Cars per household - Census 2011; ': 'Cars_HH',
    'Indices of Deprivation; Average Score; 2010': 'Deprivation'
}


# rename
new_data = new_data.rename(columns=new_column_names)

# look into data
new_data.head(50)

,Name,New Code,GCSE_Score,Density,Eng_HH,Lone_Parent,House_Price,Income,Qual_Level4,Out_Work_Fam,Absence,Crime,Bad_Health,Happiness,Green_Space,PTAL,Cars_HH,Deprivation
0,City of London,E09000001,354.500000,2312.500000,3862,153,765000.0,99390.0,68.4,9.500000,0.700000,680.720631,3.4,7.640332,18.629014,7.900000,0.385861,12.124906
1,Abbey,E05000026,317.657759,9884.615385,3397,648,173000.0,38870.0,34.5,22.077922,1.356022,142.212846,4.3,7.897959,21.908601,5.989365,0.547682,32.726127
2,Alibon,E05000027,307.445732,7464.285714,3656,832,215000.0,37290.0,16.7,24.714286,1.489166,75.689606,6.7,7.358842,20.621849,3.145890,0.815160,36.066225
3,Becontree,E05000028,295.451381,8923.076923,3826,880,210000.0,37860.0,20.6,22.023810,1.465376,79.325731,7.0,7.609123,1.885448,2.871767,0.870236,31.686544
4,Chadwell Heath,E05000029,293.437838,2970.588235,3685,776,240500.0,38860.0,19.5,24.333333,1.604042,72.407045,6.8,7.108108,55.974507,2.260909,0.918062,38.044504
5,Eastbrook,E05000030,305.948276,3014.285714,3711,579,240000.0,42780.0,18.5,20.363636,1.208078,58.309859,5.9,7.887917,50.434179,2.305719,1.060458,25.674530
6,Eastbury,E05000031,315.667066,8357.142857,3764,825,220000.0,37720.0,20.0,22.328767,1.445580,71.185576,6.4,8.112745,17.108935,2.731589,0.782772,34.932636
7,Gascoigne,E05000032,300.671533,11409.090910,3778,1075,200000.0,34140.0,25.2,22.857143,1.317599,89.788109,5.9,7.820168,20.784593,3.232883,0.541012,43.232252
8,Goresbrook,E05000033,302.227273,8730.769231,3896,870,205000.0,38130.0,18.8,23.896104,1.155556,77.302342,6.3,6.932432,14.078563,2.455200,0.836769,34.326168
9,Heath,E05000034,297.328688,5425.000000,4049,908,215000.0,36080.0,17.6,23.424658,1.120479,83.105023,6.7,7.471154,36.329889,2.652044,0.739171,38.757016
10,Longbridge,E05000035,337.783523,7218.750000,3278,415,312750.0,46520.0,25.0,10.625000,0.849229,57.513440,4.6,8.110465,28.322499,3.060910,1.133871,20.669491
11,Mayesbrook,E05000036,305.444030,5473.684211,3608,783,212000.0,36280.0,16.2,22.361111,1.326969,74.038554,7.0,7.609611,44.757238,2.495901,0.816633,37.353122
12,Parsloes,E05000037,312.205839,8250.000000,3551,788,213000.0,36640.0,16.0,23.333333,1.179408,63.592526,7.1,8.303030,17.400860,2.695405,0.834517,35.449780
13,River,E05000038,300.189286,3055.555556,3587,798,205500.0,38390.0,19.5,21.756757,1.263565,74.995635,5.5,7.426471,20.485832,3.009724,0.834971,32.253148
14,Thames,E05000039,306.998473,1367.088608,3512,851,219000.0,37400.0,24.4,20.786517,1.232495,84.866869,5.6,7.661765,43.832278,2.133878,0.720860,39.189091
15,Valence,E05000040,302.964925,7653.846154,3536,723,215000.0,38080.0,17.8,22.753623,1.576129,70.745317,7.6,7.515768,11.789109,3.221851,0.846295,36.106916
16,Village,E05000041,301.569231,5166.666667,4093,864,202500.0,36740.0,17.9,25.151515,1.452914,85.585586,6.1,7.095290,47.043856,2.686580,0.754465,39.102383
17,Whalebone,E05000042,310.845529,6656.250000,3639,655,235000.0,42530.0,22.4,14.920635,1.130006,79.356322,4.9,7.749422,16.034459,2.903827,0.971544,25.597568
18,Brunswick Park,E05000043,339.339056,5140.625000,5440,722,435000.0,53440.0,34.4,9.382716,0.831679,49.913531,4.7,7.540000,28.033091,2.887349,1.269351,13.440470
19,Burnt Oak,E05000044,313.546975,8690.476190,5159,1318,250000.0,39000.0,24.7,19.099099,1.179680,62.060827,6.1,7.432812,18.906392,3.586327,0.816489,27.423241
20,Childs Hill,E05000045,335.650000,6483.870968,5916,843,507500.0,52190.0,43.7,13.636364,1.116818,84.840124,5.1,7.475610,15.133761,4.537207,0.828780,18.485948
21,Colindale,E05000046,307.730814,6596.153846,4830,1030,302500.0,39990.0,30.8,18.901099,1.341198,53.992572,4.7,7.133333,19.847621,2.495852,0.812242,27.777339
22,Coppetts,E05000047,343.472121,6407.407407,6006,1000,335000.0,50910.0,40.6,13.536585,0.905680,80.348944,5.0,7.052083,40.343244,2.903866,0.962723,17.683334
23,East Barnet,E05000048,337.425556,4263.157895,6063,779,368000.0,53550.0,36.5,11.829268,0.558903,45.650983,4.5,7.277778,34.846315,2.771772,1.177308,12.826286
24,East Finchley,E05000049,350.097638,6420.000000,5952,696,437500.0,55480.0,49.6,12.105263,0.798442,44.086817,4.7,7.395083,37.774276,2.625567,0.817853,19.832513
25,Edgware,E05000050,326.720833,3000.000000,5256,773,455000.0,51380.0,36.0,8.585859,0.997573,66.458124,4.3,7.153563,53.996558,3.009140,1.242100,17.179251
26,Finchley Church End,E05000051,360.740909,5833.333333,5378,452,528000.0,61510.0,48.6,5.138889,0.772620,45.508311,3.6,7.266667,13.721298,2.899279,1.155082,12.002461
27,Garden Suburb,E05000052,368.509412,3404.255319,5593,425,825000.0,74940.0,57.3,3.797468,0.733893,51.289945,2.7,7.585075,24.226527,2.719333,1.241599,9.257487
28,Golders Green,E05000053,342.063971,6300.000000,5074,608,555250.0,54940.0,37.4,7.734375,0.985772,57.463274,4.4,7.185430,14.574938,3.403283,0.962301,17.562324
29,Hale,E05000054,325.595714,3240.740741,5462,853,397250.0,51650.0,36.5,10.198020,0.926395,49.661913,4.6,7.129464,48.779295,2.580245,1.239127,15.708858
30,Hendon,E05000055,352.684868,6607.142857,5550,623,350000.0,51560.0,41.3,7.526882,0.987301,72.897096,4.1,6.955357,16.363106,2.678957,0.975305,17.761600
31,High Barnet,E05000056,353.384672,1849.397590,6127,579,419422.5,59790.0,44.3,7.313433,0.553826,61.831914,4.2,7.679167,47.913854,2.674229,1.208384,11.773060
32,Mill Hill,E05000057,352.841772,1968.085106,6172,806,520000.0,56660.0,41.6,9.428571,1.157084,67.158283,4.0,7.166667,59.031827,2.282932,1.273309,14.763923
33,Oakleigh,E05000058,346.861487,4803.030303,5641,695,366000.0,56260.0,40.7,10.400000,0.769595,49.859594,4.6,7.382143,15.263556,3.259608,1.287913,13.113362
34,Totteridge,E05000059,368.877733,1727.272727,5015,464,627750.0,63320.0,47.0,5.921053,0.672644,37.018320,4.0,7.502183,57.734296,2.545557,1.293774,10.121945
35,Underhill,E05000060,320.302319,3478.260870,5869,985,389950.0,49390.0,31.8,16.447368,1.000000,56.991345,5.5,7.543254,43.751861,2.607020,1.097240,18.673885
36,West Finchley,E05000061,368.898039,7545.454545,5417,569,385000.0,56850.0,49.5,7.183099,0.741649,58.427234,4.2,7.099013,13.370853,3.637001,0.923411,13.834738
37,West Hendon,E05000062,340.344444,5132.352941,4685,702,346250.0,46620.0,34.4,12.839506,0.916719,104.060633,5.0,7.151515,31.994537,3.548877,0.908258,20.915951
38,Woodhouse,E05000063,356.688608,6788.461538,5788,832,370000.0,51100.0,41.3,11.325301,0.791828,68.478625,5.3,7.854087,19.291329,2.877864,0.982479,17.203754
39,Barnehurst,E05000064,326.298246,3603.448276,4176,471,250000.0,45990.0,20.1,11.020408,0.789744,42.880030,4.5,7.652174,35.978052,3.135916,1.254193,13.329564
40,Belvedere,E05000065,306.139264,3734.375000,4584,762,179500.0,40110.0,21.9,21.571429,1.022582,61.718303,5.2,8.084026,33.133207,2.752564,1.013248,24.980989
41,Blackfen and Lamorbey,E05000066,332.838519,6264.705882,4110,434,280000.0,49390.0,19.3,7.200000,0.790515,27.365492,4.2,8.066667,9.484078,2.051587,1.349928,9.127107
42,Blendon and Penhill,E05000067,340.145185,5214.285714,4158,425,275000.0,48800.0,19.6,5.686275,0.702530,32.791328,4.1,8.071429,13.770616,2.065738,1.441948,8.509635
43,Brampton,E05000068,325.361682,5300.000000,4093,361,315000.0,49400.0,20.7,5.555556,0.501667,31.121110,4.4,7.672474,9.101077,2.665179,1.326364,8.608720
44,Christchurch,E05000069,342.874016,4400.000000,4360,487,275000.0,48590.0,24.9,12.708333,0.835544,102.564103,4.2,8.028509,17.290585,3.422257,1.222372,12.502447
45,Colyers,E05000070,298.296923,6968.750000,4337,706,247000.0,41250.0,18.1,17.213115,1.002724,37.197003,6.0,7.889535,12.985718,2.048519,1.079286,25.221409
46,Crayford,E05000071,301.376978,2812.500000,4652,600,231500.0,41810.0,18.6,16.417910,1.229977,57.113543,5.4,7.480769,41.657277,2.053567,1.116382,22.183219
47,Cray Meadows,E05000072,324.923022,1562.500000,4598,669,285000.0,42600.0,22.2,19.491525,1.002921,47.221245,6.0,7.343874,61.651632,2.315611,1.167623,22.333073
48,Danson Park,E05000073,337.001667,4037.037037,4317,544,265750.0,46480.0,21.6,11.836735,0.958145,54.659173,4.6,8.091463,36.357891,2.937262,1.190209,12.740097
49,East Wickham,E05000074,331.870290,4954.545455,4074,508,259497.5,43510.0,18.8,14.800000,0.928835,42.638120,5.4,7.782890,26.838665,2.454414,1.209026,16.781298

In [8]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628 entries, 0 to 627
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          628 non-null    object
 1   New Code      628 non-null    object
 2   GCSE_Score    627 non-null    float64
 3   Density       628 non-null    float64
 4   Eng_HH        628 non-null    int64
 5   Lone_Parent   628 non-null    int64
 6   House_Price   628 non-null    float64
 7   Income        628 non-null    float64
 8   Qual_Level4   628 non-null    float64
 9   Out_Work_Fam  628 non-null    float64
 10  Absence       626 non-null    float64
 11  Crime         628 non-null    float64
 12  Bad_Health    628 non-null    float64
 13  Happiness     626 non-null    float64
 14  Green_Space   626 non-null    float64
 15  PTAL          626 non-null    float64
 16  Cars_HH       628 non-null    float64
 17  Deprivation   625 non-null    float64
dtypes: float64(14), int64(2), object(2)
memory usage: 88.4+ KB

In [9]:
new_data.isnull().sum()

Name            0
New Code        0
GCSE_Score      1
Density         0
Eng_HH          0
Lone_Parent     0
House_Price     0
Income          0
Qual_Level4     0
Out_Work_Fam    0
Absence         2
Crime           0
Bad_Health      0
Happiness       2
Green_Space     2
PTAL            2
Cars_HH         0
Deprivation     3
dtype: int64

In [10]:
new_data.tail(10)

,Name,New Code,GCSE_Score,Density,Eng_HH,Lone_Parent,House_Price,Income,Qual_Level4,Out_Work_Fam,Absence,Crime,Bad_Health,Happiness,Green_Space,PTAL,Cars_HH,Deprivation
618,Regent's Park,E05000643,296.618518,5260.869565,4518,454,942500.0,78810.00000,52.200000,10.335917,1.260490,72.699337,6.0,7.743429,62.225603,5.223717,0.559142,16.720736
619,St. James's,E05000644,352.839474,3085.714286,4275,286,1262500.0,90820.00000,49.900000,15.925680,0.823202,1165.187419,4.9,7.974537,30.712215,7.596735,0.420176,24.478206
620,Tachbrook,E05000645,368.000000,20375.000000,3910,291,715650.0,80420.00000,55.100000,19.014693,0.945361,55.436338,5.7,7.653520,32.385809,6.561638,0.426432,19.295207
621,Vincent Square,E05000646,326.358621,14285.714290,4216,476,840000.0,78880.00000,53.100000,17.317207,0.805767,87.466098,5.6,7.578400,26.353986,6.907069,0.434757,21.998430
622,Warwick,E05000647,310.163636,15666.666670,4227,287,857250.0,86200.00000,58.500000,21.008403,1.000000,144.468592,5.2,8.185989,4.022371,7.223790,0.478806,19.878395
623,Westbourne,E05000648,338.562185,18214.285710,4064,956,499975.0,53730.00000,35.700000,34.844280,1.199656,75.471698,8.7,8.000000,19.239428,4.908972,0.366318,41.307198
624,West End,E05000649,363.128000,5300.000000,4472,249,1487500.0,95940.00000,54.600000,11.984660,0.846718,1440.156193,4.5,7.731481,3.861082,7.983708,0.408644,20.572741
625,London,E12000007,323.700000,5144.792124,2844171,413464,365000.0,51770.00000,37.700000,16.261717,1.100000,82.787901,4.9,7.640332,39.060000,3.800000,0.786600,NaN
626,England,E92000001,310.400000,407.702563,21083065,2339824,198000.0,39556.66667,27.377216,15.353232,NaN,60.575460,5.5,NaN,NaN,NaN,1.164683,NaN
627,England and Wales,K04000001,NaN,371.894616,22363972,2487764,195000.0,38914.00000,27.200000,15.549604,1.100000,61.174487,5.6,NaN,NaN,NaN,1.168133,NaN

In [11]:
new_data = new_data.iloc[:-3]

In [12]:
new_data.isnull().sum()

Name            0
New Code        0
GCSE_Score      0
Density         0
Eng_HH          0
Lone_Parent     0
House_Price     0
Income          0
Qual_Level4     0
Out_Work_Fam    0
Absence         1
Crime           0
Bad_Health      0
Happiness       0
Green_Space     0
PTAL            0
Cars_HH         0
Deprivation     0
dtype: int64

In [13]:
 # Fill missing values â€‹â€‹with mean
new_data['Absence'].fillna(new_data['Absence'].mean(), inplace=True)
new_data.isnull().sum()

Name            0
New Code        0
GCSE_Score      0
Density         0
Eng_HH          0
Lone_Parent     0
House_Price     0
Income          0
Qual_Level4     0
Out_Work_Fam    0
Absence         0
Crime           0
Bad_Health      0
Happiness       0
Green_Space     0
PTAL            0
Cars_HH         0
Deprivation     0
dtype: int64

In [14]:
nan_columns = new_data.columns[new_data.isna().any()]

# Output the columns containing NaN data and the corresponding number of NaNs
print(new_data[nan_columns].isna().sum())

Series([], dtype: float64)

In [15]:
duplicates = new_data.duplicated().sum()
if duplicates > 0:
    new_data = new_data.drop_duplicates()

In [16]:
new_data.to_csv('cleaned_data.csv', index=False)